@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: #D3D3D3;
  font-family: 'Poppins', sans-serif;
  color: #3F72AF;
  line-height: 1.0;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: #112D4E;
}

h1 {
  font-size: 20px;
  line-height: 1.0;
}

h2 {
  font-size: 15px;
  line-height: 1.0;
}

h3 {
  font-size: 12px;
  line-height: 1.0;
}

p {
  font-size: 12px;
}

a {
  color: #3F72AF;
  text-decoration: none;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.card {
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 20px auto;
  padding: 30px;
}

.img-circle {
  border-radius: 50%;
  width: 80px;
}

.btn-big {
  background-color: rgb(50, 187, 233);
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.btn-big:hover {
  background-color: black;
  color: white;
}

a:hover {
  color: black
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
